/* LoginPage Styles */
.auth-page {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: 1;
}

/* Responsive */
@media (max-width: 480px) {
  .auth-page {
    padding: 0.5rem;
    align-items: center;
  }
}

@media (max-height: 700px) {
  .auth-page {
    padding: 0.5rem;
  }
}
